@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}
header{
	background-color: #000;
}

.hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg-sliders.jpg");
	width: 100vw;
	height: 50vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
  
  .hero-text {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-75%, -50%);
	color: white;
  }

  .hero-tittle{
	  font-size: 20px;
  }
  .hero-text p{
	  font-size: 12px;
  }
  
  

  .carousel-inner .carousel-item img{
	width: 380px;
	height: 380px;
  }

  footer{
	  height: 10vh;
	  background-color: #323232;
	  color: #898989;
  }

  .redes i{
	font-size: 50px;
	color: #898989;
 }
  